/* src/styles/Login.css */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  
  h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  
  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: min(3vw, 14px) ; 
    color: #a9a5a5;
    text-align: center;
    justify-content: center;
    white-space: "nowrap";
    overflow: "hidden";
    text-overflow: "ellipsis";
  }

  .input-container label {
    position: absolute;
    top: -8px;
    left: 12px;
    font-size: 14px;
    color: #000000;
    background: white;
    padding: 0 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  } */
  
  .input-container {
    position: relative;
  }
  
  .input-container label {
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    top: 14px;
    left: 45px;
    font-size: 14px;
    color: #a9a5a5;
    background: white;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .input-container input:focus + label,
  .input-container input:not(:placeholder-shown) + label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #000;
  }
  
  .input-container input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #a9a5a5;
    font-size: 14px; 
    opacity: 5; 
  }
  @media (max-width: 820px) {
    .login-container {
        width: 100% !important;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }