/* Dashboard.css */
.container-fluid {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e3e3e3;
    width: 100vw;
    overflow-x: hidden;
  }
  
  /* Dashboard layout: sidebar + content */
  .dashboard-layout {
    display: flex;
    flex-grow: 1;
    margin-top: 60px; /* Adjust based on navbar height */
    width: 100vw;
  }
  
  /* Main content */
  .main-content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    min-height: calc(100vh - 60px); /* Ensures it fills the screen below navbar */
    width: 100%;
    background-color:  #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-content:not(.shifted) {
    width: 100%;
    padding: 5px;

}
  
  /* Sidebar shifting effect */
  .shifted {
    margin-left: 250px; 
    padding: 10px;
  }
  
  /* Make the card take full width */
  .card {
    width: 95%;
    max-width: 1300px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    transition: width 0.3s ease-in-out;
  }
  .shifted .card {
    width: 95%; 
    padding: 20px;
  }
  
  .cardb {
    background-color: #e3e3e3;
    border: 2px solid #ddd;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  .cardb:hover {
    background-color: #e3e3e3;
    transform: scale(1.1);
  }
  .search-input {
    width: 100%;
    background-color:#f6f6f6 ;
    padding: 8px 40px;
    border: 2px solid #ffffff; 
    border-radius: 30px;
    outline: none;
    font-size: 14px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    /* color: #a9a5a5; */
    font-size: 18px;
  }

  .info-card {
    background: #f6f6f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .counter{
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight: 500;
  }

  .cardt{
    text-align: left;
    color: black;
    font-size: 15px;
    font-weight: 500;
  }